body {
    text-align: center;
    background-color: rgb(50, 216, 183)
  }

h1{
    font-family: 'Press Start 2P', cursive;
    font-size: 5rem;
    margin:  2%;
    color: #FEF2BF;
  }

#hero {
    font-family: 'Press Start 2P', cursive;
    font-size: 5rem;
    margin:  2%;
    color: #FEF2BF;
  }
#vs{
    font-family: 'Press Start 2P', cursive;
    font-size: 5rem;
    margin:  2%;
    color: #FEF2BF;
  }

#villain{
    font-family: 'Press Start 2P', cursive;
    font-size: 5rem;
    margin:  2%;
    color: #FEF2BF;
  }

.container {
    display: flex;
    flex-direction: row;
   
    width: 50%;
    margin: auto;
    justify-content: space-evenly;
    
  
  }


  .refresh{
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem;
    margin-top:  20%;
    background-color: black;
    color: #bffedd;
  }

  .p1{
border: 1px solid red;
  }